.Coins__container {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.Coins__title {
  display: flex;
  flex-direction: column;
}

.Coins__title p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 15px;
  font-family: 'Ageo-Bold';
  color: #ecb55c;
}

.Coins__title pp {
  font-size: 22px;
  font-family: 'Ageo-Heavy';
  color: white;
}

.Coins__title ppp {
  font-size: 13px;
  font-family: 'Ageo-Medium';
  color: rgba(255, 255, 255, 0.5);
}

.token__image__setting {
  width: 65px;
  height: 65px;
  padding-right: 20px;
}

.BTCCoin__Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  justify-content: space-between;
}

.BTCCoin__left {
  display: flex;
}

.BTCCoin__left h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-family: 'Ageo-Heavy';
  color: white;
}

.BTCCoin__left p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-family: 'Ageo-SemiBold';
  color: #ecb55c;
}

.coin__image__setting {
  width: 50px;
  height: 50px;
  padding-right: 30px;
}

.BTCCoin__right {
  display: flex;
  align-items: center;
}

.BTCCoin__right p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-family: 'Ageo-Heavy';
  color: white;
}

.price__image__setting {
  width: 15px;
  height: 15px;
  padding-right: 15px;
}

.transactions__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.transactions__container:last-child {
  border-bottom: none;
}

.transactions__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.transactions__left h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 19px;
  font-family: 'Ageo-Bold';
  color: white;
}

.transactions__left p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  font-family: 'Ageo-Regular';
  color: #ecb55c;
}

.transactions__image__setting {
  width: 35px;
  height: 35px;
  padding-right: 20px;
}

.transactions__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.transactions__right h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 19px;
  font-family: 'Ageo-Bold';
  color: white;
}

.transactions__right p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Ageo-Regular';
  color: #ecb55c;
}

.transactions__filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.transaction__button__setting {
  border: none;
  background: none;
  font-size: 17px;
  font-family: 'Ageo-Bold';
  color: white;
  width: 75px;
  text-align: left;
  padding-left: 0;
}

.transaction__selected {
  color: #ecb55c;
  border-bottom: solid 2px #ecb55c;
}

.trendChart__filter {
  width: 300px;
  height: 40px;
  background: linear-gradient(89.24deg, #670004 0%, #3d0008 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trendChart__button__setting {
  border: none;
  background: none;
  color: white;
  font-size: 15px;
  font-family: 'Ageo-Bold';
  padding-left: 15px;
  padding-right: 15px;
}

.trendChart__selected {
  color: #ecb55c;
  height: 40px;
  /* width: 60px; */
  border-radius: 25px;
  background: #4f0003;
}

@media (max-width: 920px) {
  .BTCCoin__Container {
    padding-left: 0px;
    padding-right: 15px;
  }

  .coin__image__setting {
    width: 50px;
    height: 50px;
    padding-right: 20px;
  }

  .price__image__setting {
    width: 10px;
    height: 10px;
    padding-right: 10px;
  }

  .BTCCoin__right p {
    font-size: 15px;
  }
}

@media (max-width: 755px) {
  .Coins__container {
    padding-left: 0px;
    padding-bottom: 20px;
  }

  .token__image__setting {
    width: 60px;
    height: 60px;
    padding-right: 10px;
  }

  .Coins__title p {
    font-size: 13px;
  }

  .Coins__title pp {
    font-size: 18px;
  }

  .Coins__title ppp {
    font-size: 10px;
  }

  .trendChart__filter {
    width: 250px;
  }

  .trendChart__selected {
    border-radius: 10px;
  }

  .trendChart__button__setting {
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .Coins__container {
    display: flex;
    justify-content: space-between;
  }
}