.exchange__status__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6%;
  padding-right: 7%;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
}

.exchange__status__container:last-child {
  border-right: none;
}

.exchange__status__container h5 {
  font-size: 16px;
  font-family: 'Ageo-Bold';
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.exchange__status__container p {
  font-size: 24px;
  font-family: 'Ageo-SemiBold';
  color: #ecb55c;
  margin-top: 15px;
  margin-bottom: 0;
}

.chart__title__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container__title__setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 22px;
  font-family: 'Ageo-SemiBold';
  padding-right: 80px;
}

.chart__container__search {
  display: flex;
  flex-direction: row;
  background: linear-gradient(89.24deg, #a6090d 0%, #89050f 100%);
  box-shadow:  30 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25%;
  height: 50px;
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
}

.container__title__setting img {
  width: 8px;
  padding-left: 10px;
}

.search__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search__container img {
  width: 15px;
  padding-left: 20px;
  padding-right: 10px;
}

.search__container input {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.788);
  font-size: 22px;
  width: 150px;
}

.search__container input:focus {
  outline: none;
}

.search__button_setting {
  border: none;
  background: #ce2c1b;
  height: 44px;
  border-radius: 25px;
  width: 110px;
  margin-right: 5px;
  color: white;
  font-family: 'Ageo-SemiBold';
  font-size: 22px;
}

.title__button__container {
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button__exchange__setting {
  border: none;
  background: none;
  padding-right: 20px;
  padding-left: 10px;
}

.button__exchange__setting img {
  width: 20px;
}

.coinMarket__info__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.103);
  padding-bottom: 15px;
  padding-top: 15px;
  justify-content: flex-start;
}

.coinMarket__info__container:last-child {
  border-bottom: none;
}

.coinMarket__info__container h5 {
  color: white;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Ageo-Bold';
  width: 230px;
}

.coinMarket__info__container h4 {
  color: white;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Ageo-Bold';
  width: 210px;
}

.coinMarket__info__container p {
  color: white;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Ageo-Bold';
  width: 210px;
}

.coinMarket__info__container img {
  width: 300px;
}

.coinMarket__title {
  display: flex;
  align-items: center;
  width: 420px;
}

.coinMarket__title img {
  width: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.coinMarket__title p {
  color: white;
  font-size: 18px;
  font-family: 'Ageo-ExtraBold';
  margin-top: 0px;
  margin-bottom: 0px;
}

.coinMarket__price {
  position: relative;
}

.price__badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ecb55c;
  width: 55px;
  height: 20px;
  border-radius: 25px;
  left: 80px;
  top: -15px;
}

.price__badge img {
  width: 10px;
  height: 10px;
  padding-right: 5px;
  padding-left: 8px;
}

.price__badge p {
  color: #772c4e;
  font-size: 10px;
  font-family: 'Ageo-ExtraBold';
}

.coinandtoken__title__container {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-bottom: 20px;
}

.cointokentitle__container__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cointokentitle__container__right img {
  width: 25px;
  padding-right: 40px;
}

.currency__setting__up {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #230811;
  border-radius: 25px;
  height: 40px;
  width: 90px;
}

.currency__setting__up p {
  color: white;
  font-family: 'Ageo-ExtraBold';
  font-size: 20px;
  padding-left: 15px;
}

.currency__setting__up img {
  width: 10px;
  padding-left: 10px;
}

.coinandtoken__list__container {
  width: 100%;
  height: calc((100% - 280px) / 2);
  padding-top: 30px;
}

.list__container__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 35px;
}

.list__container__title p {
  color: white;
  font-size: 42px;
  font-family: 'Ageo-ExtraBold';
  margin-top: 0;
  margin-bottom: 0;
}

.list__container__title img {
  width: 50px;
  padding-left: 20px;
}

.coinandtoken__list__container h5 {
  padding-left: 35px;
  color: white;
  font-family: 'Ageo-Medium';
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list__container__main {
  width: 100%;
  height: 210px;
  background: linear-gradient(129.24deg, #d33f38 0%, #642f4f 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.coin__list__container {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
}

.pretty__coin__container {
  display: flex;
  flex-direction: row;
  background: #790511;
  width: 95px;
  height: 40px;
  border-radius: 25px;
  align-items: center;
}

.pretty__coin__container img {
  width: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.pretty__coin__container p {
  color: white;
  font-family: 'Ageo-Bold';
  font-size: 22px;
}

.container__title__token {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__title__token p {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 22px;
  font-family: 'Ageo-Bold';
}

.coininfo__title__container {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coininfo__title__left {
  display: flex;
  align-items: center;
  padding-right: 70px;
}

.coininfo__title__left img {
  width: 110px;
  padding-right: 20px;
}

.title__container__coininfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title__container__coininfo h1 {
  margin-top: 0;
  color: white;
  font-family: 'Ageo-ExtraBold';
  font-size: 49px;
  margin-bottom: 0;
}

.title__container__coininfo h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 31px;
  font-family: 'Ageo-Bold';
  color: #ecb55c;
}

.title__container__coininfo p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-family: 'Ageo-Medium';
  color: gray;
}

.coininfo__title__right {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
}

.coininfo__button__setting {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  color: #3d100c;
  font-size: 15px;
  font-family: 'Ageo-ExtraBold';
  background: linear-gradient(149.24deg, #d9a65b 0%, #9f6329 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.coininfo__main__container {
  margin-top: 50px;
  width: 100%;
  height: calc(100% - 100px - 170px);
  background: linear-gradient(100deg, #690001 0%, #050002 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  position: relative;
}

.chart__date__filter__setting {
  position: absolute;
  /* display: flex; */
  top: 25px;
  left: 20px;
}

.price__transaction__setting {
  position: absolute;
  right: 20px;
  top: 25px;
}

.ChartDate__filter {
  width: 100%;
  height: 60px;
  background: linear-gradient(89.24deg, #ad0404 0%, #8a0004 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ChartDate__button__setting {
  border: none;
  background: none;
  color: white;
  font-size: 22px;
  font-family: 'Ageo-SemiBold';
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.ChartDate__selected {
  /* color: #ecb55c; */
  height: 52px;
  /* width: 60px; */
  border-radius: 15px;
  background: #6d0303;
}

.price__transaction__filter {
  display: flex;
  flex-direction: row;
}

.price__button__setting {
  border: none;
  background: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 15px;
  font-family: 'Ageo-ExtraBold';
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
}

.price__transaction__selected {
  background: linear-gradient(149.24deg, #d9a65b 0%, #9f6329 100%);
  color: #3d100c;
}

.exchangemain__button__container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.transactions__subcontainer__submain {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
}

.transactions__submain__container {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.transactions__submain__container:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}

.transactions__subcontainer__submain:last-child {
  border-bottom: none;
}

.transactions__main__sent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 530px;
}

.transactions__main__sent img {
  width: 35px;
  padding-left: 10px;
  padding-right: 20px;
}

.transactions__main__sent p {
  color: white;
  font-family: 'Ageo-Medium';
  font-size: 17px;
}

.transactions__main__receive {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 580px;
}

.transactions__main__receive img {
  width: 35px;
  padding-left: 10px;
  padding-right: 20px;
}

.transactions__main__receive p {
  color: white;
  font-family: 'Ageo-Medium';
  font-size: 17px;
}

.transactions__main__dateandtime {
  color: white;
  font-family: 'Ageo-Medium';
  font-size: 17px;
  width: 180px;
}

.modal__container__title {
  width: 100%;
  height: 80px;
  background: linear-gradient(140deg, #c72822 0%, #8c060e 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 40px 40px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;
  font-family: 'Ageo-ExtraBold';
}

.modal__main__container {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 670px;
  height: 480px;
  background: linear-gradient(140deg, #e64940 0%, #ba273f 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 40px;
}

.modal__main__background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal__container__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
}

.modal__main__status {
  color: #ecb55c;
  font-size: 17px;
  font-family: 'Ageo-SemiBold';
  background: #a1090d;
  border-radius: 25px;
  padding: 10px 20px;
}

.modal__main__exchange {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal__exchange__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__exchange__sent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
}

.modal__exchange__sent img {
  width: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.modal__sent__details {
  display: flex;
  flex-direction: column;
} 

.modal__sent__details p {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 13px;
  font-family: 'Ageo-SemiBold';
}

.modal__sent__details h5 {
  margin-top: 0;
  margin-bottom: 0;
  color: #ecb55c;
  font-size: 20px;
  font-family: 'Ageo-SemiBold';
}

.modal__container__address {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__address__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.modal__address__details:last-child {
  border-bottom: none;
}

.modal__address__details h5 {
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 25%;
  font-size: 17px;
  font-family: 'Ageo-Medium';
}

.modal__address__details p {
  color: #ecb55c;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 75%;
  font-size: 17px;
  font-family: 'Ageo-Medium';
}

.modal__container__button {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal__container__button button{
  border: none;
  background: linear-gradient(180deg, #d7a459 0%, #9d6027 100%);
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  /* border: solid 1px #ffffff00; */
  color: #3d100c;
  font-size: 14px;
  font-family: 'Ageo-ExtraBold';
}

.modal__container__button button:hover {
  border: solid 1px #ecb55c;
  background: none;
  color: #ecb55c;
  padding: 9.5px 19.5px;
  box-shadow: none;
}