.mainButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}


.button__setting {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80px;
  align-items: center;
  border-radius: 15px;
  font-family: 'Ageo-ExtraBold';
  font-size: 14px;
  color: white;
  text-decoration: none;
  justify-content: center;
  margin-bottom: 20px;
}

.button__text {
  margin-bottom: 0;
}

.colorSelected {
  color: #630202;
}

.image__button__setting {
  width: 30px;
}

.seleted {
  background: linear-gradient(89.24deg, #f0c0ad 0%, #ec8e78 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 0px 15px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1620px) {
  .button__setting {
    width: 100%;
    height: 50px;
    border-radius: 0px;
    margin-bottom: 60px;
  }

  .button__text {
    display: none;
  }
}