.memebership__card__container {
  width: 200px;
  height: 300px;
  background: #120000;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.memebership__card__container img {
  width: 80px;
  position: absolute;
  top: -20px;
}

.memebership__card__container p {
  padding-top: 70px;
  color: white;
  font-size: 13px;
  font-family: 'Ageo-Regular';
}

.memebership__card__container div {
  background: #510000;
  color: white;
  font-size: 22px;
  font-family: 'Ageo-Bold';
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;  
}

.memebership__card__container h5 {
  margin-top: 10px;
  margin-bottom: 0;
  color: white;
  font-size: 13px;
  font-family: 'Ageo-Regular';
}

.memebership__card__container h4 {
  margin-top: 10px;
  color: #ecb55c;
  margin-bottom: 20px;
  font-size: 13px;
  font-family: 'Ageo-Regular';
}

.memebership__card__container button {
  border: none;
  background: linear-gradient(180deg, #d4a157  0%, #a06329 100%);
  color: #3d100c;
  font-size: 10px;
  font-family: 'Ageo-Heavy';
  padding: 10px 25px;
  border-radius: 25px;
}

.card__selected__setting {
  width: 250px;
  height: 350px;
}

.card__selected__setting img {
  width: 90px;
}

.card__selected__setting p {
  padding-top: 80px;
  font-size: 15px;
  padding-bottom: 10px;
}

.card__selected__setting div {
  font-size: 26px;
}

.card__selected__setting h5 {
  font-size: 15px;
  padding-top: 10px;
}

.card__selected__setting h4 {
  font-size: 15px;
}

.card__selected__setting button {
  font-size: 12px;
  padding: 10px 30px;
}

.currency__main__container {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 80px;
  justify-content: space-between;
  background: linear-gradient(90deg, #220000 0%, #000000 100%);
  border-radius: 25px;
  margin-top: 120px;
  align-items: center;
  position: relative;
  /* z-index: 200; */
}

.currency__main__leftcontainer {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.currency__main__leftcontainer h5 {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 37px;
  font-family: 'Ageo-Bold';
}

.currency__main__leftcontainer p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 19px;
  font-family: 'Ageo-Medium';
  color: #a06329;
}

.currency__main__rightcontainer {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  background: linear-gradient(180deg, #e6b666 0%, #9d6027 100%);
  width: 280px;
  height: 70px;
  align-items: center;
  border-radius: 25px;
}


.currency__main__rightcontainer img {
  padding-right: 10px;
  padding-left: 10px;
}

.currency__main__rightcontainer p {
  color: #280303;
  font-size: 17px;
  font-family: 'Ageo-ExtraBold';
}

.currency__setting__dropdown {
  display: none;
  position: absolute;
  background: linear-gradient(140deg, #510008 0%, #130008 100%);
  right: 3px;
  top: 80px;
  width: 280px;
  height: 400px;
  z-index: 0;
  border-radius: 0 0 15px 15px;
}

.currency__dropdown__selected {
  display: block;
}

.currency__dropdown__container {
  width: 94%;
  height: 94%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  /* background: white; */
}

.currency__dropdown__container::-webkit-scrollbar-track
{
	background-color: #0a0002;
  /* height: 98%; */
}

.currency__dropdown__container::-webkit-scrollbar
{
	width: 6px;
	background-color: #0a0002;
}

.currency__dropdown__container::-webkit-scrollbar-thumb
{
  background: linear-gradient(180deg, #e6b666 0%, #a4682d 100%);
  border-radius: 10px;
  /* height: 98%; */
}

.currency__dropdown__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  /* background: wheat; */
}

.currency__dropdown__details img {
  padding-left: 10px;
  padding-right: 20px;
}

.currency__dropdown__details p {
  color: white;
  font-size: 17px;
  font-family: 'Ageo-ExtraBold';
}

.modalAuthentication__main__container {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 670px;
  height: 480px;
  background: linear-gradient(140deg, #d64438 0%, #b3203f 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 40px;
}

.modal__authentication__container {
  display: flex;
  flex-direction: column;
  padding-left: 67px;
  padding-right: 67px;
  align-items: center;
  justify-content: center;
}

.modal__authentication__container h5 {
  color: white;
  font-family: 'Ageo-ExtraBold';
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal__authentication__container img {
  height: 170px;
  padding-bottom: 20px;
}

.modal__authentication__container p {
  color: white;
  font-family: 'Ageo-Medium';
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.modal__authentication__container button {
  margin-top: 20px;
  border: none;
  background: linear-gradient(180deg, #e6b666 0%, #9d6027 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Ageo-ExtraBold';
  border-radius: 25px;
  color: #3d100c;
}

.modal__authentication__container h4 {
  color: white;
  font-size: 20px;
  font-family: 'Ageo-SemiBold';
  margin-bottom: 10px;
}

.exitModal__main__container {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 250px;
  background: linear-gradient(140deg, #d64438 0%, #b3203f 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.exitModal__container__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exitModal__main__container img {
  padding-top: 20px;
}

.exitModal__container__detail p {
  color: white;
  font-size: 28px;
  font-family: 'Ageo-Bold';
}

.exitModal__button__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exitModal__button__container button {
  border: none;
  background: linear-gradient(180deg, #e6b666 0%, #9d6027 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5px;
  margin-right: 5px;
  color: #3d100c;
  font-size: 20px;
  font-family: 'Ageo-ExtraBold';
  padding: 10px 40px;
  border-radius: 25px;

}